<%- include('../../shared/includes/head', {title : 'All-Products'}) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <%- include('../../shared/includes/order-list', {orders : orders} ) %>
    </main>

<%- include('../../shared/includes/footer') %>
