<header id="main-header" >
  <div><a href="/" id="logo" >logo</a></div>
  <nav>
    <%- include('navbar') %>
  </nav>

  <button id="mobile-menu-btn" >
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<aside id="mobile-menu">
  <nav>
    <%- include('navbar') %>
  </nav>
</aside>