<%- include('../../shared/includes/head', {title : 'All-Products'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer ></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1> Add Product</h1>
        <%- include('includes/product-form', {submitPath : '/admin/products', product : {
            title : '',
            price : '',
            summary : '',
            description : ''
        } } ) %>
    </main>

<%- include('../../shared/includes/footer') %>

